@charset "utf-8";
:root{
    --corbg:#28AD40;
    --cor1:#7AE68D;
    --cor2:#33E053;
    --cor3:#166124;
    --cor4:#33613C;

}
body{
    background-color: var(--cor3);
    margin: 0px;
   

}
header{
  background-image: linear-gradient(#33E053,#28AD40,#166124 );
   min-height: 200px;
   padding-top: 10px;
  
   min-width: 325px;
  
}
header > h1{
    color: white;
    text-align: center;
    font: bold 3em arial,sans-serif;
    text-shadow: 0px,0px,10px,#000;
}
header > p{
    text-shadow: 0px,0px,2px,#000;
    font:  1.5em arial,sans-serif;
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
   
}
nav{ 
    padding: 10px;
    min-width: 325px;
   margin:auto


}
nav > a{
    color:black;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--cor1);
    
}
nav>a:hover{
    background-color: var(--cor2);
    transition-delay: 0.2s;
    
   

}
 main{
    background-color:var(--cor1);
    margin: auto; 
     max-width: 1200px;  
     min-width: 325px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.31);
    

}
 h2 ,h3{
    background-image:linear-gradient(90deg,#166124 10%,#28AD40 , #7AE68D );
padding-left: 10px;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
img.bug{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;

}
  
main p{
    text-align: justify;
    text-indent: 10px;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: lower-roman;
}

 div{background-color: #166124;
    padding: 10px;
    padding-bottom: 55%;
    position: relative;

}
iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}